<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap/css/bootstrap.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/basic.css" />
  <body>
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">NoteTaker</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid" id="urlsection">
					<div class="span3">
					<button class="btn btn-large btn-inverse" id="getvideo">Get video</button>
					</div>
					<div class="span4">
						<input id="vidurl" type="text" placeholder="Paste URL here">
					</div>
					<div class="span12 well" id="notebox" onClick="this.contentEditable='true';"></div>
					<div id="editor"></div>
				</div>
			</div>
			<div class="span6">
				<div id="player"></div>
			</div>
		</div>
	</div>
	
	
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="{{ STATIC_URL }}js/bootstrap-wysiwyg.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
	<script>
	

		//Model
		function Word(word, time){
			this.word = word;
			this.time = time;
		}
		
		//Controller
		function wordToLink(wordObj){
			return "<a"+" onclick=seekTo("+wordObj.time+")"+" href=#"+">"+wordObj.word+"<\a>";
		}
		//View
		function seekTo(secs){
			player.seekTo(secs, true);
			player.playVideo();
		}

		var tag = document.createElement('script');

		tag.src = "https://www.youtube.com/iframe_api";
		var firstScriptTag = document.getElementsByTagName('script')[0];
		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

		var player;
		function onYouTubeIframeAPIReady() {
		player = new YT.Player('player', {
		  height: '390',
		  width: '640',
		  videoId: 'tlxfwPqB9dw',
		  events: {
			'onReady': onPlayerReady,
			'onStateChange': onPlayerStateChange
		  }
		});
		}

		function onPlayerReady(event) {}
		function onPlayerStateChange(event) {}
		  
		$("#getvideo")
		  .button()
		  .click(function( event ) {
			url=$("#vidurl").val()
			player.loadVideoById(url.substring(url.search("v=")+2));
		  });
		
		
		function setEndOfContenteditable(contentEditableElement)
		{
		    var range,selection;
		    if(document.createRange)//Firefox, Chrome, Opera, Safari, IE 9+
		    {
		        range = document.createRange();//Create a range (a range is a like the selection but invisible)
		        range.selectNodeContents(contentEditableElement);//Select the entire contents of the element with the range
		        range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
		        selection = window.getSelection();//get the selection object (allows you to change selection)
		        selection.removeAllRanges();//remove any selections already made
		        selection.addRange(range);//make the range you have just created the visible selection
		    }
		    else if(document.selection)//IE 8 and lower
		    { 
		        range = document.body.createTextRange();//Create a range (a range is a like the selection but invisible)
		        range.moveToElementText(contentEditableElement);//Select the entire contents of the element with the range
		        range.collapse(false);//collapse the range to the end point. false means collapse to end rather than the start
		        range.select();//Select the range (make it the visible selection
		    }
		}

		lastWord = new Word("",0.0);
		wordSet = [];
		beginning = false;

		$('#notebox').keypress(function(event) {
			if(beginning){
				beginning = true;
				lastWord.time = player.getCurrentTime();
			}

			character = String.fromCharCode(event.charCode);
			lastWord.word = lastWord.word+character;

			if(event.keyCode == 32){
        wordSet.push(jQuery.extend(deep=true, {}, lastWord)); //deep copy the old word into the wordset
				lastWord = new Word("", player.getCurrentTime());
			}
			if(wordSet.length%10 == 0 && wordSet.length>0){
				displayLinks();
			}

		});
		
		function displayLinks(){
			fulltext="";
			
			for(j=0; j<wordSet.length; j++){
				fulltext = fulltext.concat(wordToLink(wordSet[j])+" ");
			}
			$("#notebox").html(fulltext);
			setEndOfContenteditable($("#notebox").get(0));
      wordSet.push(new Word("", player.getCurrentTime()));
		}

	</script>

  </body>
</html>