{% extends "registration/base.html" %}

{% load url from future %}

{% block content %}
    
	<div class="container-fluid">
		<div class="row-fluid">
			<div class="span6">
				<div class="row-fluid" id="urlsection">
					<div class="span3">
					<button class="btn btn-large btn-inverse" id="getvideo">Get video</button>
					</div>
					<div class="span4">
						<input id="vidurl" type="text" placeholder="Paste URL here">
					</div>
          <form id="save-note" method="post" action="{% url 'transcribe:save' %}">
          {% if user.is_authenticated %}
          {% csrf_token %}
          <div class="span4" style:'margin-left:10px'>
          <button class="btrn btn-large btn-inverse" id="save">Save Note</button>
          </div>
          {% endif %}
					<div class="span12 well" id="notebox" onClick="this.contentEditable='true';"></div>
          <textarea id="notetext" name="notetext" style="display: none;"></textarea>
          <input type="hidden" name="video_url" id="video_url" value="">
          </form>
					</div>
			</div>
			<div class="span6">
				<div id="player"></div>
			</div>
		</div>
	</div>
	
	
<script src="{{ STATIC_URL }}js/video.js"></script>

{% endblock%}